@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron fontFamily-faktSoft fontSize-xl " align="center" style="background-color: #E0FFFF ">
    <h1 style="padding:6px">Welcome</h1>
    <img src="~/Images/logo.png" class="img-circle" width="400" height="390">
</div>